# Open Historia — repo attributes (LFS geodata, script line endings) © 2026 Nicholas Krol, MIT (see src/Editor/LICENSE).
# Shell scripts must stay LF - CRLF breaks bash on Linux/macOS
*.sh text eol=lf
*.command text eol=lf
*.pmtiles filter=lfs diff=lfs merge=lfs -text
public/assets/regions-seed.geojson filter=lfs diff=lfs merge=lfs -text
public/assets/cities-seed.json filter=lfs diff=lfs merge=lfs -text
server/data/scenarios/**/regions.geojson filter=lfs diff=lfs merge=lfs -text
